.home__marquee__header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home__marquee__header__text{
    font-size: 2rem;
    padding-left: 5px;
    padding-right: 5px;
}

.home__marquee__title__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home__marquee__title{
    padding-left: 10px;
}