.footer__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3F4A4F;
}

.footer__inner__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__company__details{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer__company__links{
    display: flex;
    flex: 2;
}

.footer__company__social{
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;    
}

.footer__support__details{
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

}

.footer__legal__details{
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}


.footer__company__description{
    color: whitesmoke;
    text-align: center;
}

.footer_link {
    text-decoration: none;
    font-size: large;
    color: gray;
}


.footer_link:hover{
    color: white;
}

.footer__copyrights{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    width: 100%;
    padding: 10px;
    font-weight: 500;
}

@media (max-width: 500px){
    .footer__inner__container, .footer__company__links{
        flex-direction: column;
    }
}